<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/ocw2baq.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap"
      rel="stylesheet"
    />
    <title>Site Nohoia</title>
  </head>
  <body>
    <main>
      <div class="description_1">
        Photographe portraits / mariages / nouveaux nés</br> Tout type de projets,
        n'hésitez pas à me contacter.
      </div>
      <div class="description_2">
        <p>
          Nohoia ; ou désespoir, tristesse dans diverses langues. Tout a
          commencé autour d'un projet de photos, sur la tristesse et la nature.
          J'ai alors commencé par faire de la macro, pendant 4 à 5 ans. Puis de
          fil en aiguille, je me suis inspiré de mes écrits pour faire du
          portrait, je commençais à retranscrire des phrases, à travers des
          images. Des maux, à travers des photos. Des lumières, parfois même des
          sons. C'est ainsi que je vous partage mon art, mes émotions, ma
          passion.
        </p>
      </div>
    </main>
  </body>
</html>